@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "./variables.scss";
@import "./buttons.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  object-fit: contain;
  font-size: 16px;
}

.covicalc--title {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
}
.covicalc--title,
.covicalc--sub--title {
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
}
.covicalc--sub--title {
  font-size: 1.2rem;
  font-weight: 700;
  color: $blackColor;
}

.covicalc--text {
  font-size: 0.9rem;
}
.covicalc--large--text {
  font-size: 4rem;
}
.covicalc--medium--text {
  font-size: 1.5rem;
}
.covicalc--text-light {
  font-weight: 300;
}
.covicalc--text-bold {
  font-weight: 700;
}
.covicalc--text-white {
  color: $whiteColor;
}
.covicalc--text-black {
  color: $blackColor;
}
.covicalc--text-green {
  color: $primaryColor;
}
.covicalc--text-muted {
  color: $muteColor;
}

.covicalc--link-primary {
  &:hover {
    color: $whiteColor;
    text-decoration: underline;
  }
}
.covicalc--link-secondary {
  &:hover {
    color: $primaryColor;
    text-decoration: underline;
  }
}

.covicalc--mt-1 {
  margin-top: 1rem;
}
.covicalc--mt-2 {
  margin-top: 2rem;
}
.covicalc--mb-1 {
  margin-bottom: 1rem;
}
.covicalc--mb-2 {
  margin-bottom: 2rem;
}
.covicalc--mb-small {
  margin-bottom: 0.3rem;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: $muteColor;
}

::-webkit-scrollbar-thumb:hover {
  background: #cfc8c8;
}
