$whiteColor: #ffffff;
$darkWhite: #eef6f6;
$primaryColor: #2fc8b8;
$secondaryColor: #1e776e;
$borderColor: #0000001f;
$blackColor: #000000;
$muteColor: #888888;
$lightGreen: #e6f5f3;
$lightGrey: #00000029;
$darkGrey: #707070;
