/**
 * Colors
 * App's colors
 * Author: Patrick TUNEZERWANE
 */
$whiteColor: #ffffff;
$darkWhite: #eef6f6;
$primaryColor: #2fc8b8;
$secondaryColor: #1e776e;
$borderColor: #0000001f;
$blackColor: #000000;
$muteColor: #888888;
$lightGreen: #e6f5f3;
$lightGrey: #00000029;
$darkGrey: #707070;

/**
 * Paddings
 * App's paddings
 * Author: Patrick TUNEZERWANE
 */
$padding-0: 0;
$padding-top-0: 0;
$padding-bottom-0: 0;
$padding-left-0: 0;
$padding-right-0: 0;
$padding-2: 2.5rem;
$padding-left-2: 2.5rem;
$padding-right-2: 2.5rem;
$padding-top-2: 2.5rem;
$padding-bottom-2: 2.5rem;

/**
 * margins
 * App's margins
  * Author: Patrick TUNEZERWANE
 */

/**
 * sections' backgrounds
 * App's sections' backgrounds
  * Author: Patrick TUNEZERWANE
 */
