@import "../../styles/variables.scss";

.tunez-contact {
  height: 80vh;
  background: $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .contact--info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
