@import "../../styles/variables.scss";

.covicalc--nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-2;
  background: $primaryColor;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  a {
    cursor: pointer;
    &:hover {
      color: $secondaryColor;
    }
  }
}
