@import "../../styles/variables.scss";

.covicalc--nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-2;
  background: $primaryColor;
  a {
    cursor: pointer;
    &:hover {
      color: $secondaryColor;
    }
  }
}

.mobile__menu {
  background: $whiteColor;
  padding: 1rem;
  box-shadow: 0px -1px 1px rgba(100, 100, 111, 0.2);
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  .menu__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    .icon {
      font-size: 1.2rem;
    }
    span {
      margin-top: 0.5rem;
    }
    &:active,
    &:focus {
      color: $primaryColor;
    }
  }
}

@media screen and (max-width: $breakpoint-small),
  (max-width: $breakpoint-medium) {
  .mobile__menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
}
